.product {
  height: 100vh;
  position: relative;
}

.category-btns {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.category-btn {
  height: 30px;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.25rem;
  background: #6d819c;
  color: #fff;
  transition: 0.7s;
}

.promos {
  display: flex;
  height: 30px;
  gap: 10px;
  margin: 0 10px;
}

.selected {
  background: transparent;
  color: #6d819c;
}

.product > .items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  max-height: calc(100% - 100px);
  overflow: scroll;
}

.product .items > .product-item {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #bebebe;
  margin: 5px;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.product .items .product-item > .image {
  background: #f6c4f0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.product .items .product-item > .info {
  font-size: 20px;
  letter-spacing: 0.4rem;
}

.product-item .info > .price {
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.product-item .info .btns > button {
  padding: 3px 6px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  background: #e8cbe3;
  color: #4a6171;
  position: relative;
  transition: 0.7s;
  overflow: hidden;
}

.search-box {
  height: 30px;
  display: flex;
  align-items: center;
  background: #abc9de;
  padding: 0 5px;
  color: #fff;
  border-radius: 5px;
}

.search-box > input {
  border: none;
  background: transparent;
  outline: none;
}

.discount,
.freeShipping {
  position: absolute;
  top: 0;
  padding: 5px;
  margin: 5px;
  display: grid;
  place-items: center;
  background: #f79116;
  border-radius: 10px;
}

.freeShipping {
  right: 0;
}

.discount {
  left: 0;
}

@media (max-width: 700px) {
  .product {
    height: 85vh;
  }
  .category-btns {
    height: 150px;
  }
}
