:root {
  --lightmode: #e0e0e0;
  --darkmode: #000308;
  --light-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  --dark-shadow: 5px 5px 10px #060911, -5px -5px 10px #162545;
}

.sidebar {
  width: 300px;
  height: 100vh;
  padding: 10px;
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
  position: relative;
  box-sizing: border-box;
}

.sidebar > .links {
  width: 100%;
  height: 60px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 20px;
  transition: 0.7s;
  cursor: pointer;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  width: calc(100% - 60px);
}

.sidebar > .links:not(:nth-child(5), :first-child):hover {
  transform: translateY(5px);
}

.sidebar > .links:first-child {
  border-bottom: 2px solid #bebebe;
}

.sidebar > .links:not(:first-child) {
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
}

.sidebar .links > span {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 25px;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
}

.profile {
  position: absolute;
  display: flex;
  width: calc(100% - 20px);
  height: 100px;
  bottom: 0;
  margin: 10px 0;
  padding: 10px;
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
}

.profile > img {
  width: 80px;
}

.profile > .info {
  margin-top: auto;
  padding-left: 5px;
}

@media (max-width: 500px) {
  .sidebar {
    width: 100%;
  }
}

@media (max-height: 740px) {
  .sidebar > .links {
    height: 40px;
    margin: 5px 0;
    font-size: 15px;
  }
}
