:root {
  --lightmode: #e0e0e0;
  --darkmode: #000308;
  --light-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  --dark-shadow: 5px 5px 10px #060911, -5px -5px 10px #162545;
}

.sidebar {
  width: 80px;
  height: 100vh;
  padding: 10px;
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
  position: relative;
  box-sizing: border-box;
  transition: width 0.7s;
  overflow: hidden;
}

.sidebar > .main-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
}

.items-container {
  position: relative;
  width: 100%;
  display: none;
  transition: all 0.7s;
}

.show {
  display: block;
}

.open {
  width: 280px;
}

.closed {
  width: 0%;
  padding: 0;
}

.sidebar .main-container > .links,
.item-links {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 10px;
}

.sidebar .main-container .items-container > .item-links {
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
  transition: 0.8s;
}

.main-container .items-container > .item-links:hover {
  transform: translateY(5px);
}

.sidebar .main-container > .links {
  padding-left: 70px;
  margin: 0;
  justify-content: space-between;
}

.toggle {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border: none;
  background: none;
}

.sidebar .main-container > .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
}

.profile {
  position: absolute;
  display: flex;
  width: calc(100% - 20px);
  height: 100px;
  bottom: 0;
  margin: 10px 0;
  padding: 10px;
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
}

.resize {
  height: 60px;
}

.profile > img {
  width: 60px;
}

.profile > .info {
  margin-top: auto;
  padding-left: 5px;
}
