:root {
  --lightmode: #e0e0e0;
  --darkmode: #000308;
  --light-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  --dark-shadow: 5px 5px 10px #060911, -5px -5px 10px #162545;
}

.nav-bar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  background: var(--lightmode);
  transition: 0.9s;
  box-sizing: border-box;
  z-index: 10;
}

.minimize {
  height: 100px;
  overflow: hidden;
}

.nav-bar > .header {
  height: 100px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
}

.nav-bar .header > .brand-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.items-link {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transform: translateY(-20px);
  opacity: 0;
  transition: 0.9s;
}

.show {
  opacity: 1;
  transform: translateY(0px);
}

.nav-bar .items-link > .link {
  width: 100%;
  margin: 10px 0;
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
}

.nav-bar .items-link .link > .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
}

.nav-bar .items-link .link > .item {
  width: calc(100% - 60px);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.nav-bar .items-link .link .item > .item-btn {
  border: none;
  background: none;
  margin-right: 5px;
}

.nav-bar .items-link .link > .items {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px;
  padding: 0 10px;
  background: var(--lightmode);
  box-shadow: var(--light-shadow);
  transition: 0.8s;
}

.nav-bar .items-link .link > .items:hover {
  transform: translateY(5px);
}

.nav-bar > .profile {
  width: calc(100% - 20px);
  margin: 10px;
}

.closed {
  height: 0;
  overflow: hidden;
}
